{
  "openapi": "3.1.0",
  "info": {
    "title": "rest-api",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.fulcrumapp.com/api",
      "description": "United States"
    },
    {
      "url": "https://api.fulcrumapp-au.com/api",
      "description": "Australia"
    },
    {
      "url": "https://api.fulcrumapp-ca.com/api",
      "description": "Canada"
    },
    {
      "url": "https://api.fulcrumapp-eu.com/api",
      "description": "European Union"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiToken"
      }
    },
    "schemas": {
      "RecordsResponse": {
        "type": "object",
        "required": [
          "current_page",
          "total_pages",
          "total_count",
          "per_page",
          "records"
        ],
        "properties": {
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          },
          "records": {
            "type": "array",
            "items": {
                "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "status": {
            "type": [
              "null",
              "string"
            ]
          },
          "version": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "client_created_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "client_updated_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "created_by_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "updated_by": {
            "type": "string"
          },
          "updated_by_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "created_location": {
            "type": [
              "null",
              "string"
            ]
          },
          "updated_location": {
            "type": [
              "null",
              "string"
            ]
          },
          "created_duration": {
            "type": [
              "null",
              "number"
            ]
          },
          "updated_duration": {
            "type": [
              "null",
              "number"
            ]
          },
          "edited_duration": {
            "type": [
              "null",
              "number"
            ]
          },
          "form_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "project_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "record_series_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "assigned_to": {
            "type": [
              "null",
              "string"
            ]
          },
          "assigned_to_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "form_values": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                  {
                    "$ref": "#/components/schemas/ChoiceValues"
                  },
                  {
                    "$ref": "#/components/schemas/PhotoArray"
                  },
                  {
                    "type": "string"
                  }
              ]
            }
          },
          "latitude": {
            "type": [
              "null",
              "number"
            ]
          },
          "longitude": {
            "type": [
              "null",
              "number"
            ]
          },
          "altitude": {
            "type": [
              "null",
              "number"
            ]
          },
          "geometry": {
              "$ref": "#/components/schemas/Geometry"
          },
          "speed": {
            "type": [
              "null",
              "number"
            ]
          },
          "course": {
            "type": [
              "null",
              "number"
            ]
          },
          "horizontal_accuracy": {
            "type": [
              "null",
              "number"
            ]
          },
          "vertical_accuracy": {
            "type": [
              "null",
              "number"
            ]
          },
          "system_status": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ChoiceValues": {
        "type": "object",
        "properties": {
          "choice_values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "choice_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "other_values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PhotoArray": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "photo_id": {
              "type": "string",
              "pattern": "^[A-F0-9]{8}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{12}$"
            },
            "caption": {
              "type": "string"
            }
          },
          "required": [
            "photo_id"
          ]
        }
      },
      "Geometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point"
            ]
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "number"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiToken": []
    }
  ],
  "paths": {
    "/v2/query": {
      "get": {
        "summary": "GET Query",
        "description": "",
        "operationId": "query-get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The SQL query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the results returned by the query. Options include `csv`, `json`, `geojson`, `postgres`.",
            "schema": {
              "type": "string",
              "default": "csv"
            }
          },
          {
            "name": "headers",
            "in": "query",
            "description": "Include headers for csv format?",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Include column metadata for `json` format?",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "arrays",
            "in": "query",
            "description": "Return row arrays instead of objects for `json` format?",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "table_name",
            "in": "query",
            "description": "Table name for `postgres` format. Defaults to query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "The name of the column used to sort on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The sort direction (asc, desc).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "POST Query",
        "description": "",
        "operationId": "query-post",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/QueryRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/users.json": {
      "get": {
        "summary": "Get User Information",
        "description": "",
        "operationId": "users-get-user",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/authorizations.json": {
      "get": {
        "summary": "Get All Authorizations",
        "description": "",
        "operationId": "authorizations-get-all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Authorization",
        "description": "",
        "operationId": "authorizations-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/AuthorizationRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/authorizations/{authorization_id}.json": {
      "get": {
        "summary": "Get Single Authorization",
        "description": "",
        "operationId": "authorizations-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "authorization_id",
            "in": "path",
            "description": "Authorization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Authorization",
        "description": "",
        "operationId": "authorizations-update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "authorization_id",
            "in": "path",
            "description": "Authorization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/AuthorizationRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Authorization",
        "description": "",
        "operationId": "authorizations-delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "authorization_id",
            "in": "path",
            "description": "Authorization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/roles.json": {
      "get": {
        "summary": "Get All Roles",
        "description": "",
        "operationId": "roles-get-all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by role name. Default sort is by `updated_at` if sort is not provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The sort direction (asc, desc). Default is `asc`",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/memberships.json": {
      "get": {
        "summary": "Get All Memberships",
        "description": "",
        "operationId": "memberships-get-all",
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "description": "Limit members to a specific Form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Limit members to a specific Project",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "Limit members to a specific Layer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Member",
        "description": "",
        "operationId": "create-member",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/MembershipCreateRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/memberships/{membership_id}.json": {
      "get": {
        "summary": "Get Single Membership",
        "description": "",
        "operationId": "memberships-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "membership_id",
            "in": "path",
            "description": "Membership ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Member",
        "description": "You can use this to update parameters of a member, but this will not work if the member is apart of multiple organizations.",
        "operationId": "update-member",
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "description": "The ID of the member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/MembershipUpdateRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Member",
        "description": "",
        "operationId": "delete-member",
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "description": "The ID of the member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/MembershipDeleteRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/permissions.json": {
      "get": {
        "summary": "Get Membership Permissions",
        "description": "",
        "operationId": "get-all-memberships",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of permission (member_forms, member_layers, member_projects, form_members, layer_members, or project_members)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "member_projects"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "description": "The membership_id of the user or the id of the form, layer or project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/memberships/change_permissions.json": {
      "post": {
        "summary": "Change Permissions",
        "description": "Add or remove membership permissions from layers, forms, or projects",
        "operationId": "memberships-change-permissions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/PermissionChangeRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups.json": {
      "get": {
        "summary": "Get All Groups",
        "description": "",
        "operationId": "get-all-groups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "20000"
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "Set to `true` in order to see each group's assigned `member_ids`, `layer_ids`, `project_ids` and `form_ids`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Group",
        "description": "",
        "operationId": "create-group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/GroupCreateRequest.json"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"group\": {\n        \"name\": \"Name of group\",\n        \"description\": \"Hello group!\",\n        \"id\": \"32185076-6d5a-4bb9-89f0-f049093ed800\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Name of group"
                        },
                        "description": {
                          "type": "string",
                          "example": "Hello group!"
                        },
                        "id": {
                          "type": "string",
                          "example": "32185076-6d5a-4bb9-89f0-f049093ed800"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups/{group_id}.json": {
      "get": {
        "summary": "Get Single Group",
        "description": "",
        "operationId": "get-single-group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "associations",
            "in": "query",
            "description": "Set to `true` in order to see each group's assigned `member_ids`, `layer_ids`, `project_ids` and `form_ids`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Group Name / Description",
        "description": "",
        "operationId": "update-group-name-description",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "ID of the group",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/GroupUpdateRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"group\": {\n        \"name\": \"Name of group\",\n        \"description\": \"Hello group!\",\n        \"id\": \"32185076-6d5a-4bb9-89f0-f049093ed800\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Name of group"
                        },
                        "description": {
                          "type": "string",
                          "example": "Hello group!"
                        },
                        "id": {
                          "type": "string",
                          "example": "32185076-6d5a-4bb9-89f0-f049093ed800"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Group",
        "description": "",
        "operationId": "delete-group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "ID of the group",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups/{group_id}/{resource}.json": {
      "get": {
        "summary": "Get Group Resource",
        "description": "",
        "operationId": "get-group-resource",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "resource",
            "in": "path",
            "description": "One of `members`, `projects`, `layers` or `forms`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of the response",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items in every page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups/change_permissions.json": {
      "post": {
        "summary": "Update Group Permissions",
        "description": "",
        "operationId": "update-group-permissions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/GroupPermissionChangeRequest.json"
              },
              "examples": {
                "Change Group Members": {
                  "value": {
                    "change": {
                      "type": "group_members",
                      "group_id": "{{group_id}}",
                      "add": [],
                      "remove": [
                        "81ad0f14-35a8-4be0-8ca0-83ea93947987"
                      ]
                    }
                  }
                },
                "Change Group Projects": {
                  "value": {
                    "change": {
                      "type": "group_projects",
                      "group_id": "{{group_id}}",
                      "add": [
                        "d765a9ef-e233-400d-889d-4f81eb31d8a7"
                      ],
                      "remove": []
                    }
                  }
                },
                "Change Group Layers": {
                  "value": {
                    "change": {
                      "type": "group_layers",
                      "group_id": "{{group_id}}",
                      "add": [
                        "dc37b767-a160-47d3-ac58-b11432e5860d"
                      ],
                      "remove": []
                    }
                  }
                },
                "Change Group Forms": {
                  "value": {
                    "change": {
                      "type": "group_forms",
                      "group_id": "{{group_id}}",
                      "add": [
                        "4d6f87d2-0dc3-4eb6-a065-9ac595173424"
                      ],
                      "remove": []
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"group\": {\n        \"name\": \"Name of group\",\n        \"description\": \"Hello group!\",\n        \"id\": \"32185076-6d5a-4bb9-89f0-f049093ed800\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Name of group"
                        },
                        "description": {
                          "type": "string",
                          "example": "Hello group!"
                        },
                        "id": {
                          "type": "string",
                          "example": "32185076-6d5a-4bb9-89f0-f049093ed800"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/forms.json": {
      "get": {
        "summary": "Get All Forms",
        "description": "",
        "operationId": "forms-get-all",
        "parameters": [
          {
            "name": "schema",
            "in": "query",
            "description": "schema=false will only return the form metadata",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Types of forms to return",
            "schema": {
              "type": "string",
              "enum": [
                "organization",
                "system",
                "all"
              ],
              "default": "organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Form",
        "description": "",
        "operationId": "forms-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/FormRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/forms/{form_id}.json": {
      "get": {
        "summary": "Get Single Form",
        "description": "",
        "operationId": "forms-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "description": "schema=false will only return the form metadata",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Form",
        "description": "",
        "operationId": "forms-update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/FormRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Form",
        "description": "",
        "operationId": "forms-delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/forms/{form_id}/history.json": {
      "get": {
        "summary": "Get Form History",
        "description": "",
        "operationId": "forms-get-history",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "version",
            "in": "query",
            "description": "The form history version",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/records.json": {
      "get": {
        "summary": "Get All Records",
        "description": "",
        "operationId": "records-get-all",
        "parameters": [
          {
            "name": "newest_first",
            "in": "query",
            "description": "If present, records will be sorted by updated_at date.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "bounding_box",
            "in": "query",
            "description": "Bounding box of the records requested. Format should be: lat,long,lat,long (bottom, left, top, right).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeset_id",
            "in": "query",
            "description": "The id of the changeset associated with the record.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form_id",
            "in": "query",
            "description": "The id of the form with which the record is associated. Leaving this blank will query against all of your records.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The id of the project with which the record is associated. Leaving this blank will query against all of your records.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_created_before",
            "in": "query",
            "description": "Return only records which were created by the client (device) before the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "client_created_since",
            "in": "query",
            "description": "Return only records which were created by the client (device) after the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "client_updated_before",
            "in": "query",
            "description": "Return only records which were updated by the client (device) before the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "client_updated_since",
            "in": "query",
            "description": "Return only records which were updated by the client (device) after the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Return only records which were created (on the server) before the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_since",
            "in": "query",
            "description": "Return only records which were created (on the server) after the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "description": "Return only records which were updated (on the server) before the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Return only records which were updated (on the server) after the given time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "current_page": 1,
                      "per_page": 20000,
                      "records": [
                        {
                          "altitude": null,
                          "assigned_to": null,
                          "assigned_to_id": null,
                          "client_created_at": "2020-02-16T21:26:57Z",
                          "client_updated_at": "2020-02-16T21:30:36Z",
                          "course": null,
                          "created_at": "2020-02-16T21:26:51Z",
                          "created_by": "John Williams",
                          "created_by_id": "3bd2efaa-b66c-4b70-9d45-1ff81cbvc353",
                          "created_duration": 116,
                          "created_location": null,
                          "edited_duration": 119,
                          "form_id": "aa9816b6-ebec-4f14-88df-7v5844c2237d",
                          "form_values": {
                            "31e8": {
                              "admin_area": "Illinois",
                              "country": "United States",
                              "locality": "Chicago",
                              "postal_code": null,
                              "sub_admin_area": null,
                              "sub_thoroughfare": "1234",
                              "suite": null,
                              "thoroughfare": "W Jackson Blvd"
                            },
                            "58b2": "no",
                            "7aec": "no",
                            "dd8d": "12323"
                          },
                          "geometry": {
                            "coordinates": [
                              0,
                              0
                            ],
                            "type": "Point"
                          },
                          "horizontal_accuracy": null,
                          "id": "da5fafc4-2e69-4c8c-a6bb-831d9e124a30",
                          "latitude": 0,
                          "longitude": 0,
                          "project_id": null,
                          "record_series_id": null,
                          "speed": null,
                          "status": null,
                          "system_status": null,
                          "updated_at": "2020-02-16T21:30:30Z",
                          "updated_by": "John Williams",
                          "updated_by_id": "3bd3eeaa-b66c-4b70-9d45-1ff81cbfc353",
                          "updated_duration": 3,
                          "updated_location": null,
                          "version": 2,
                          "vertical_accuracy": null
                        },
                        {
                          "altitude": null,
                          "assigned_to": null,
                          "assigned_to_id": null,
                          "client_created_at": "2020-02-14T04:16:18Z",
                          "client_updated_at": "2020-02-17T15:44:03Z",
                          "course": null,
                          "created_at": "2020-02-14T04:16:18Z",
                          "created_by": "John Williams",
                          "created_by_id": "3bd3efaa-b66c-4b70-9d45-1ff81cbfc353",
                          "created_duration": 157,
                          "created_location": null,
                          "edited_duration": 200,
                          "form_id": "aa9896b6-ebec-4f14-88df-7d5844c2237d",
                          "form_values": {
                            "9333": "yes",
                            "2b27": "1",
                            "31e8": {
                              "admin_area": "California",
                              "country": "United States",
                              "locality": "Santa Clara",
                              "postal_code": null,
                              "sub_admin_area": null,
                              "sub_thoroughfare": "123457817",
                              "suite": null,
                              "thoroughfare": "Road"
                            },
                            "36be": "yes",
                            "3a45": "no",
                            "3f3e": "no",
                            "547e": "yes",
                            "58b2": "yes",
                            "601f": "no",
                            "66a5": "3432432432434",
                            "76ea": "Not compliant",
                            "7aec": "yes",
                            "7cf0": "Builders",
                            "7fb3": "yes",
                            "856d": "yes",
                            "b063": "yes",
                            "c59a": "yes",
                            "d39c": "23",
                            "d3e7": "12",
                            "d3f7": {
                              "choice_values": [
                                "1 Year Test"
                              ],
                              "other_values": []
                            },
                            "d460": {
                              "choice_values": [
                                "Hoist Jump Up"
                              ],
                              "other_values": []
                            },
                            "dd8d": "12345",
                            "e4c1": "Bob",
                            "e570": "4",
                            "e66f": "yes",
                            "ebf5": "2025-02-13",
                            "f223": "yes",
                            "f485": "Clarkson",
                            "fb4f": "yes"
                          },
                          "geometry": null,
                          "horizontal_accuracy": null,
                          "id": "02b7c5d7-97aa-4a6f-be6c-723cd3e5e64a",
                          "latitude": null,
                          "longitude": null,
                          "project_id": null,
                          "record_series_id": null,
                          "speed": null,
                          "status": null,
                          "system_status": null,
                          "updated_at": "2020-02-17T15:44:00Z",
                          "updated_by": "John Williams",
                          "updated_by_id": "3bd3efaa-b66c-4b70-9d45-1ff81cbfc353",
                          "updated_duration": 10,
                          "updated_location": null,
                          "version": 11,
                          "vertical_accuracy": null
                        },
                        {
                          "altitude": null,
                          "assigned_to": null,
                          "assigned_to_id": null,
                          "client_created_at": "2020-02-17T15:46:12Z",
                          "client_updated_at": "2020-02-17T15:51:29Z",
                          "course": null,
                          "created_at": "2020-02-17T15:46:08Z",
                          "created_by": "John Williams",
                          "created_by_id": "3bd3efaa-b66c-4b70-9d45-1ff81cbfc353",
                          "created_duration": 63,
                          "created_location": null,
                          "edited_duration": 76,
                          "form_id": "aa9896b6-ebec-4f14-88df-7d5844c2237d",
                          "form_values": {
                            "9333": "yes",
                            "31e8": {
                              "admin_area": null,
                              "country": "United States",
                              "locality": "New York",
                              "postal_code": null,
                              "sub_admin_area": null,
                              "sub_thoroughfare": "Maple Rd",
                              "suite": null,
                              "thoroughfare": null
                            },
                            "41d9": "New York",
                            "58b2": "yes",
                            "856d": "no",
                            "d3f7": {
                              "choice_values": [
                                "3 Year Test"
                              ],
                              "other_values": []
                            },
                            "e4c1": "Michael",
                            "f223": "yes",
                            "f485": "Test"
                          },
                          "geometry": null,
                          "horizontal_accuracy": null,
                          "id": "6d9a5c45-dc79-483f-89bd-19313e40dbd2",
                          "latitude": null,
                          "longitude": null,
                          "project_id": null,
                          "record_series_id": null,
                          "speed": null,
                          "status": null,
                          "system_status": null,
                          "updated_at": "2020-02-17T15:51:25Z",
                          "updated_by": "John Williams",
                          "updated_by_id": "3bd3efaa-b66c-4b70-9d45-1ff81cbfc353",
                          "updated_duration": 13,
                          "updated_location": null,
                          "version": 2,
                          "vertical_accuracy": null
                        }
                      ],
                      "total_count": 3,
                      "total_pages": 1
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Parameter": {
                    "value": {
                      "error": "Bad Request",
                      "status": 400
                    }
                  },
                  "Invalid Payload": {
                    "value": {
                      "error": "Bad Request",
                      "status": 400
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/NotFoundResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Record",
        "description": "",
        "operationId": "records-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "X-SkipWorkflows",
            "in": "header",
            "description": "Skips all app workflows",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-SkipWebhooks",
            "in": "header",
            "description": "Skips all app webhooks",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/RecordRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/records/{record_id}.json": {
      "get": {
        "summary": "Get Single Record",
        "description": "",
        "operationId": "records-get-single",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "description": "Record ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "altitude": null,
                      "assigned_to": null,
                      "assigned_to_id": null,
                      "changeset_id": "b882774c-29c8-4506-8dc6-46e686e1b4fa",
                      "client_created_at": "2020-02-16T21:26:57Z",
                      "client_updated_at": "2020-02-16T21:30:36Z",
                      "course": null,
                      "created_at": "2020-02-16T21:26:51Z",
                      "created_by": "John Williams",
                      "created_by_id": "3bd2efaa-b66c-4b70-9d45-1ff81cbvc353",
                      "created_duration": 116,
                      "created_location": null,
                      "edited_duration": 119,
                      "form_id": "aa9816b6-ebec-4f14-88df-7v5844c2237d",
                      "form_values": {
                        "31e8": {
                          "admin_area": "Illinois",
                          "country": "United States",
                          "locality": "Chicago",
                          "postal_code": null,
                          "sub_admin_area": null,
                          "sub_thoroughfare": "1234",
                          "suite": null,
                          "thoroughfare": "W Jackson Blvd"
                        },
                        "58b2": "no",
                        "7aec": "no",
                        "dd8d": "12323"
                      },
                      "geometry": {
                        "coordinates": [
                          0,
                          0
                        ],
                        "type": "Point"
                      },
                      "horizontal_accuracy": null,
                      "id": "da5fafc4-2e69-4c8c-a6bb-831d9e194a30",
                      "latitude": 0,
                      "longitude": 0,
                      "project_id": null,
                      "record_series_id": null,
                      "speed": null,
                      "status": null,
                      "system_status": null,
                      "updated_at": "2020-02-16T21:30:30Z",
                      "updated_by": "James Miller",
                      "updated_by_id": "3bd3eeaa-b66c-4b70-9d45-1ff81cbfc353",
                      "updated_duration": 3,
                      "updated_location": null,
                      "version": 2,
                      "vertical_accuracy": null
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": {
                      "error": "Bad Request",
                      "status": 400
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/NotFoundResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Record",
        "description": "",
        "operationId": "records-update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "record_id",
            "in": "path",
            "description": "Record ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-SkipWorkflows",
            "in": "header",
            "description": "Skips all app workflows",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-SkipWebhooks",
            "in": "header",
            "description": "Skips all app webhooks",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/RecordRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Record",
        "description": "",
        "operationId": "records-delete",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "description": "Record ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "X-SkipWorkflows",
            "in": "header",
            "description": "Skips all app workflows",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-SkipWebhooks",
            "in": "header",
            "description": "Skips all app webhooks",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/records/{record_id}/history.json": {
      "get": {
        "summary": "Get Record History",
        "description": "",
        "operationId": "records-get-history",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "description": "Record ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/records/history.json": {
      "get": {
        "summary": "Get All Records History",
        "description": "This endpoint can help you get records from a specific changeset, or retrieve records for a deleted form.",
        "operationId": "records-get-all-history",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "changeset_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleted_form_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/choice_lists.json": {
      "get": {
        "summary": "Get All Choice Lists",
        "description": "",
        "operationId": "choice-lists-get-all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Choice List",
        "description": "",
        "operationId": "choice-lists-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/ChoiceListRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/choice_lists/{choice_list_id}.json": {
      "get": {
        "summary": "Get Single Choice List",
        "description": "",
        "operationId": "choice-lists-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "choice_list_id",
            "in": "path",
            "description": "Choice List ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Choice List",
        "description": "",
        "operationId": "choice-lists-update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "choice_list_id",
            "in": "path",
            "description": "Choice List ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/ChoiceListRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Choice List",
        "description": "",
        "operationId": "choice-lists-delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "choice_list_id",
            "in": "path",
            "description": "Choice List ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/classification_sets.json": {
      "get": {
        "summary": "Get All Classification Sets",
        "description": "",
        "operationId": "classification-sets-get-all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of classification sets to return",
            "schema": {
              "type": "string",
              "enum": [
                "organization",
                "system",
                "all"
              ],
              "default": "organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/BadRequestResponse.json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Classification Set",
        "description": "",
        "operationId": "classification-sets-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./components/schemas/ClassificationSetRequest.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./components/schemas/EmptySuccessResponse.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
[...]
