{
  "openapi": "3.1.0",
  "info": {
    "title": "rest-api",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.fulcrumapp.com/api",
      "description": "United States"
    },
    {
      "url": "https://api.fulcrumapp-au.com/api",
      "description": "Australia"
    },
    {
      "url": "https://api.fulcrumapp-ca.com/api",
      "description": "Canada"
    },
    {
      "url": "https://api.fulcrumapp-eu.com/api",
      "description": "European Union"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiToken"
      }
    },
    "schemas": {
      "Geometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point",
              "LineString",
              "Polygon",
              "MultiPoint",
              "MultiLineString",
              "MultiPolygon"
            ],
            "description": "GeoJSON geometry type"
          },
          "coordinates": {
            "description": "Coordinates for the geometry. Format varies by type: Point uses [longitude, latitude], LineString uses array of positions, Polygon uses array of linear rings (first is exterior, rest are holes), Multi* types use arrays of their respective coordinate structures."
          }
        }
      },
      "RecordsResponse": {
        "type": "object",
        "required": [
          "current_page",
          "total_pages",
          "total_count",
          "per_page",
          "records"
        ],
        "properties": {
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "SingleRecordResponse": {
        "type": "object",
        "required": [
          "record"
        ],
        "properties": {
          "record": {
            "$ref": "#/components/schemas/Record"
          }
        }
      },
      "RecordHistoryResponse": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "minimum": 1,
            "description": "Current page number (when using pagination)"
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of pages (when using pagination)"
          },
          "total_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of records (when using pagination)"
          },
          "per_page": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of records per page (when using pagination)"
          },
          "next_sequence": {
            "type": "integer",
            "nullable": true,
            "description": "Next sequence number (when using sequence-based pagination)"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecordHistoryItem"
            }
          }
        }
      },
      "RecordHistoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Record ID"
          },
          "version": {
            "type": "integer",
            "description": "Record version number"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Record status"
          },
          "record_key": {
            "type": "string",
            "nullable": true,
            "description": "Optional record key"
          },
          "record_sequence": {
            "type": "integer",
            "nullable": true,
            "description": "Optional record sequence number"
          },
          "form_id": {
            "type": "string",
            "nullable": true,
            "description": "Form ID"
          },
          "form_version": {
            "type": "integer",
            "nullable": true,
            "description": "Form version at time of record creation/update"
          },
          "project_id": {
            "type": "string",
            "nullable": true,
            "description": "Project ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          },
          "client_created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Client-side creation timestamp"
          },
          "client_updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Client-side update timestamp"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of user who created the record"
          },
          "created_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of user who created the record"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of user who last updated the record"
          },
          "updated_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of user who last updated the record"
          },
          "assigned_to": {
            "type": "string",
            "nullable": true,
            "description": "Display name of assigned user"
          },
          "assigned_to_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of assigned user"
          },
          "form_values": {
            "type": "object",
            "nullable": true,
            "description": "Form field values (processed)",
            "additionalProperties": true
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Record location latitude"
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Record location longitude"
          },
          "altitude": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Record location altitude in meters"
          },
          "geometry": {
            "type": "object",
            "nullable": true,
            "description": "GeoJSON geometry object",
            "properties": {
              "type": {
                "type": "string"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "gps_device_capture": {
            "$ref": "#/components/schemas/GpsDeviceCaptureBase",
            "nullable": true,
            "description": "Flexible GPS device metadata captured with the record."
          },
          "speed": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Speed at time of record creation in m/s"
          },
          "course": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Course/heading in degrees"
          },
          "horizontal_accuracy": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Horizontal accuracy in meters"
          },
          "vertical_accuracy": {
            "type": "number",
            "nullable": true,
            "format": "double",
            "description": "Vertical accuracy in meters"
          },
          "changeset_id": {
            "type": "string",
            "nullable": true,
            "description": "Changeset ID"
          },
          "created_location": {
            "$ref": "#/components/schemas/AuditLocation"
          },
          "updated_location": {
            "$ref": "#/components/schemas/AuditLocation"
          },
          "created_duration": {
            "type": "integer",
            "nullable": true,
            "description": "Duration of record creation in seconds"
          },
          "updated_duration": {
            "type": "integer",
            "nullable": true,
            "description": "Duration of record update in seconds"
          },
          "edited_duration": {
            "type": "integer",
            "nullable": true,
            "description": "Total editing duration in seconds"
          },
          "sequence": {
            "type": "integer",
            "nullable": true,
            "description": "Sequence number (when using sequence-based pagination)"
          },
          "history_change_type": {
            "type": "string",
            "description": "Type of change (c=create, u=update, d=delete)",
            "enum": [
              "c",
              "u",
              "d"
            ]
          },
          "history_id": {
            "type": "string",
            "description": "History entry ID"
          },
          "history_changed_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of user who made this change"
          },
          "history_changed_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of user who made this change"
          },
          "history_created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this history entry was created"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "client_created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "client_updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "created_by_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "updated_by": {
            "type": "string"
          },
          "updated_by_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "created_location": {
            "$ref": "#/components/schemas/AuditLocation"
          },
          "updated_location": {
            "$ref": "#/components/schemas/AuditLocation"
          },
          "created_duration": {
            "type": "number",
            "nullable": true
          },
          "updated_duration": {
            "type": "number",
            "nullable": true
          },
          "edited_duration": {
            "type": "number",
            "nullable": true
          },
          "form_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "project_id": {
            "type": "string",
            "nullable": true
          },
          "record_series_id": {
            "type": "string",
            "nullable": true
          },
          "assigned_to": {
            "type": "string",
            "nullable": true
          },
          "assigned_to_id": {
            "type": "string",
            "nullable": true
          },
          "form_values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field values keyed by field key - values can be strings, objects, or arrays depending on field type"
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "altitude": {
            "type": "number",
            "nullable": true
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry"
          },
          "gps_device_capture": {
            "$ref": "#/components/schemas/GpsDeviceCaptureBase",
            "nullable": true,
            "description": "Flexible GPS device metadata captured with the record."
          },
          "speed": {
            "type": "number",
            "nullable": true
          },
          "course": {
            "type": "number",
            "nullable": true
          },
          "horizontal_accuracy": {
            "type": "number",
            "nullable": true
          },
          "vertical_accuracy": {
            "type": "number",
            "nullable": true
          },
          "system_status": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AuditLocation": {
        "type": "object",
        "nullable": true,
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "The latitude coordinate."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "The longitude coordinate."
          },
          "altitude": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "The altitude in meters."
          },
          "horizontal_accuracy": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "The horizontal accuracy in meters."
          }
        },
        "description": "Location metadata captured at creation or update time."
      },
      "GpsDeviceCaptureBase": {
        "type": "object",
        "description": "Flexible GPS device metadata captured with a record.",
        "additionalProperties": true,
        "properties": {
          "device_name": {
            "type": "string",
            "description": "Name of the GPS device"
          },
          "manufacturer": {
            "type": "string",
            "description": "Manufacturer of the GPS device"
          },
          "fix_type": {
            "type": "string",
            "description": "Type of GPS fix"
          },
          "satellite_count": {
            "type": "integer",
            "description": "Number of satellites used for the fix"
          },
          "hdop": {
            "type": "number",
            "description": "Horizontal dilution of precision"
          },
          "vdop": {
            "type": "number",
            "description": "Vertical dilution of precision"
          },
          "pdop": {
            "type": "number",
            "description": "Position dilution of precision"
          },
          "differential_correction": {
            "type": "boolean",
            "description": "Whether differential correction was used"
          },
          "antenna_height": {
            "type": "number",
            "description": "Antenna height in meters"
          },
          "firmware_version": {
            "type": "string",
            "description": "Device firmware version"
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry",
            "description": "GPS-captured geometry reference."
          }
        }
      },
      "GpsDeviceCaptureRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GpsDeviceCaptureBase"
          }
        ],
        "description": "GPS device metadata accepted during create/update. Known keys are documented and additional device-specific keys are accepted."
      },
      "AttachmentCopyAllRequest": {
        "type": "object",
        "required": [
          "source_parent_id",
          "destination_parent_id",
          "parent_type"
        ],
        "additionalProperties": false,
        "properties": {
          "source_parent_id": {
            "type": "string",
            "description": "The ID of the source parent (e.g. form ID) to copy reference files from"
          },
          "destination_parent_id": {
            "type": "string",
            "description": "The ID of the destination parent (e.g. form ID) to copy reference files to"
          },
          "parent_type": {
            "type": "string",
            "description": "The type of the parent resource",
            "enum": [
              "form"
            ]
          }
        }
      },
      "AttachmentCopyAllResponse": {
        "type": "object",
        "properties": {
          "ref_file_mapping": {
            "type": "object",
            "description": "A mapping of original reference file attachment IDs to their new copies",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "AttachmentCreateRequest": {
        "type": "object",
        "required": [
          "owners"
        ],
        "additionalProperties": false,
        "properties": {
          "owners": {
            "type": "array",
            "description": "Array of owner objects for the attachment",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of the owner (e.g., 'record', 'form')"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier of the owner"
                }
              }
            }
          },
          "name": {
            "type": "string",
            "description": "Name of the attachment"
          },
          "file_size": {
            "type": "integer",
            "description": "Size of the file in bytes"
          },
          "metadata": {
            "type": "object",
            "description": "Optional metadata for the attachment",
            "additionalProperties": true
          }
        }
      },
      "AttachmentTrackRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the attachment"
          },
          "owners": {
            "type": "array",
            "description": "Array of owner objects for the attachment",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of the owner"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier of the owner"
                }
              }
            }
          }
        }
      },
      "AuthorizationRequest": {
        "type": "object",
        "properties": {
          "authorization": {
            "type": "object",
            "properties": {
              "organization_id": {
                "type": "string",
                "description": "ID of the organization"
              },
              "note": {
                "type": "string",
                "description": "Note about this authorization"
              },
              "timeout": {
                "type": "integer",
                "description": "Timeout in milliseconds"
              }
            },
            "required": [
              "organization_id"
            ]
          }
        },
        "required": [
          "authorization"
        ]
      },
      "BadRequestResponse": {
        "type": "object",
        "description": "Bad request error response",
        "properties": {
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "status": {
            "type": "integer",
            "example": 400
          }
        }
      },
      "BatchAddOperationsRequest": {
        "type": "object",
        "required": [
          "operations"
        ],
        "additionalProperties": false,
        "properties": {
          "operations": {
            "type": "array",
            "minItems": 1,
            "description": "Operations to append to the batch",
            "items": {
              "type": "object",
              "required": [
                "action",
                "resource"
              ],
              "properties": {
                "action": {
                  "type": "string",
                  "description": "Action to perform for the operation",
                  "enum": [
                    "delete"
                  ]
                },
                "resource": {
                  "type": "string",
                  "description": "Resource type the operation targets",
                  "enum": [
                    "record"
                  ]
                },
                "form_id": {
                  "type": "string",
                  "description": "Identifier of the form containing the records"
                },
                "record_id": {
                  "type": "string",
                  "description": "Identifier of the record to delete"
                }
              }
            }
          }
        }
      },
      "BatchCreateRequest": {
        "type": "object",
        "required": [
          "batch"
        ],
        "additionalProperties": false,
        "properties": {
          "batch": {
            "type": "object",
            "required": [
              "operations"
            ],
            "properties": {
              "start": {
                "type": "boolean",
                "description": "Whether the batch should begin processing immediately"
              },
              "operations": {
                "type": "array",
                "minItems": 1,
                "description": "Operations that will be executed as part of the batch",
                "items": {
                  "type": "object",
                  "required": [
                    "action",
                    "resource"
                  ],
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "Action to perform for the operation",
                      "enum": [
                        "delete"
                      ]
                    },
                    "resource": {
                      "type": "string",
                      "description": "Resource type the operation targets",
                      "enum": [
                        "record"
                      ]
                    },
                    "form_id": {
                      "type": "string",
                      "description": "Identifier of the form containing the records"
                    },
                    "record_id": {
                      "type": "string",
                      "description": "Identifier of the record to delete"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ChangesetCreateRequest": {
        "type": "object",
        "required": [
          "changeset"
        ],
        "additionalProperties": false,
        "properties": {
          "changeset": {
            "type": "object",
            "properties": {
              "form_id": {
                "type": "string",
                "description": "Identifier of the form the changeset applies to"
              },
              "metadata": {
                "type": "object",
                "description": "Optional metadata describing the changeset",
                "additionalProperties": true,
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "app_created_by": {
                    "type": "string"
                  },
                  "app_name": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "form_id"
            ],
            "additionalProperties": true
          }
        }
      },
      "ChangesetRequest": {
        "type": "object",
        "required": [
          "changeset"
        ],
        "additionalProperties": false,
        "properties": {
          "changeset": {
            "type": "object",
            "properties": {
              "form_id": {
                "type": "string",
                "description": "Identifier of the form the changeset applies to"
              },
              "metadata": {
                "type": "object",
                "description": "Optional metadata describing the changeset",
                "additionalProperties": true,
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "app_created_by": {
                    "type": "string"
                  },
                  "app_name": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "form_id"
            ],
            "additionalProperties": true
          }
        }
      },
      "ChoiceListRequest": {
        "type": "object",
        "properties": {
          "choice_list": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the choice list"
              },
              "description": {
                "type": "string",
                "description": "Description of the choice list"
              },
              "choices": {
                "type": "array",
                "description": "Array of choices",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Display label"
                    },
                    "value": {
                      "type": "string",
                      "description": "Value stored"
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "name",
              "choices"
            ]
          }
        },
        "required": [
          "choice_list"
        ]
      },
      "ClassificationSetRequest": {
        "type": "object",
        "properties": {
          "classification_set": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the classification set"
              },
              "description": {
                "type": "string",
                "description": "Description of the classification set"
              },
              "items": {
                "type": "array",
                "description": "Classification items with hierarchical structure",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Display label"
                    },
                    "value": {
                      "type": "string",
                      "description": "Value stored"
                    },
                    "child_classifications": {
                      "type": "array",
                      "description": "Child classification items",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "name",
              "items"
            ]
          }
        },
        "required": [
          "classification_set"
        ]
      },
      "EmptySuccessResponse": {
        "type": "object",
        "description": "Empty success response",
        "properties": {}
      },
      "Photo": {
        "type": "object",
        "properties": {
          "access_key": {
            "type": "string",
            "description": "Unique identifier for the photo"
          },
          "uploaded": {
            "type": "boolean",
            "description": "Whether the photo has been uploaded"
          },
          "stored": {
            "type": "boolean",
            "description": "Whether the photo has been stored"
          },
          "processed": {
            "type": "boolean",
            "description": "Whether the photo has been processed"
          },
          "record_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated record"
          },
          "form_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated form"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the photo was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the photo was last updated"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the photo was deleted"
          },
          "file_size": {
            "type": "integer",
            "nullable": true,
            "description": "Size of the photo file in bytes"
          },
          "content_type": {
            "type": "string",
            "nullable": true,
            "description": "MIME type of the photo"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Latitude coordinate where photo was taken"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Longitude coordinate where photo was taken"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "API URL for this photo resource"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to thumbnail version of the photo"
          },
          "large": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to large version of the photo"
          },
          "original": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to original version of the photo"
          },
          "exif": {
            "type": "object",
            "nullable": true,
            "description": "EXIF metadata from the photo",
            "additionalProperties": true
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of user who created the photo"
          },
          "created_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of user who created the photo"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of user who last updated the photo"
          },
          "updated_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of user who last updated the photo"
          }
        }
      },
      "PhotosResponse": {
        "type": "object",
        "required": [
          "photos",
          "current_page",
          "total_pages",
          "total_count",
          "per_page"
        ],
        "properties": {
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "SinglePhotoResponse": {
        "type": "object",
        "required": [
          "photo"
        ],
        "properties": {
          "photo": {
            "$ref": "#/components/schemas/Photo"
          }
        }
      },
      "Audio": {
        "type": "object",
        "properties": {
          "access_key": {
            "type": "string",
            "description": "Unique identifier for the audio resource"
          },
          "uploaded": {
            "type": "boolean",
            "description": "Whether the audio has been uploaded"
          },
          "stored": {
            "type": "boolean",
            "description": "Whether the audio has been stored"
          },
          "processed": {
            "type": "boolean",
            "description": "Whether the audio has been processed"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the audio was deleted"
          },
          "record_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated record"
          },
          "form_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated form"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the audio was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the audio was last updated"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who created the audio"
          },
          "created_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who created the audio"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who last updated the audio"
          },
          "updated_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who last updated the audio"
          },
          "file_size": {
            "type": "integer",
            "nullable": true,
            "description": "Size of the audio file in bytes"
          },
          "content_type": {
            "type": "string",
            "nullable": true,
            "description": "MIME type of the audio file"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the audio resource"
          },
          "track": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to access the audio track (if available)"
          },
          "status": {
            "type": "string",
            "description": "Processing status of the audio"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "description": "Audio metadata (e.g., duration, format details)",
            "additionalProperties": true
          },
          "small": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to small version of the audio (if processed)"
          },
          "medium": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to medium version of the audio (if processed)"
          },
          "original": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to original audio file (if stored)"
          }
        }
      },
      "AudiosResponse": {
        "type": "object",
        "required": [
          "audio",
          "current_page",
          "total_pages",
          "total_count",
          "per_page"
        ],
        "properties": {
          "audio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Audio"
            }
          },
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "SingleAudioResponse": {
        "type": "object",
        "required": [
          "audio"
        ],
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/Audio"
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "access_key": {
            "type": "string",
            "description": "Unique identifier for the video"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "API URL to access this video resource"
          },
          "track": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the video track data in JSON format, if available"
          },
          "status": {
            "type": "string",
            "description": "Processing status of the video"
          },
          "uploaded": {
            "type": "boolean",
            "description": "Whether the video has been uploaded"
          },
          "stored": {
            "type": "boolean",
            "description": "Whether the video has been stored"
          },
          "processed": {
            "type": "boolean",
            "description": "Whether the video has been processed"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the video was deleted"
          },
          "record_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated record"
          },
          "form_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated form"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the video was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the video was last updated"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who created the video"
          },
          "created_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who created the video"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who last updated the video"
          },
          "updated_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who last updated the video"
          },
          "file_size": {
            "type": "integer",
            "nullable": true,
            "description": "Size of the video file in bytes"
          },
          "content_type": {
            "type": "string",
            "nullable": true,
            "description": "MIME type of the video file"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "description": "Additional metadata about the video",
            "additionalProperties": true
          },
          "thumbnail_small": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to small thumbnail image"
          },
          "thumbnail_medium": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to medium thumbnail image"
          },
          "thumbnail_large": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to large thumbnail image"
          },
          "thumbnail_huge": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to huge thumbnail image"
          },
          "thumbnail_small_square": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to small square thumbnail image"
          },
          "thumbnail_medium_square": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to medium square thumbnail image"
          },
          "thumbnail_large_square": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to large square thumbnail image"
          },
          "thumbnail_huge_square": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to huge square thumbnail image"
          },
          "small": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to small version of the video"
          },
          "medium": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to medium version of the video"
          },
          "original": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to original video file"
          }
        }
      },
      "VideosResponse": {
        "type": "object",
        "required": [
          "videos",
          "current_page",
          "total_pages",
          "total_count",
          "per_page"
        ],
        "properties": {
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "SingleVideoResponse": {
        "type": "object",
        "required": [
          "video"
        ],
        "properties": {
          "video": {
            "$ref": "#/components/schemas/Video"
          }
        }
      },
      "Signature": {
        "type": "object",
        "properties": {
          "access_key": {
            "type": "string",
            "description": "Unique identifier for the signature"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "API URL to retrieve this signature"
          },
          "uploaded": {
            "type": "boolean",
            "description": "Whether the signature has been uploaded"
          },
          "stored": {
            "type": "boolean",
            "description": "Whether the signature has been stored"
          },
          "processed": {
            "type": "boolean",
            "description": "Whether the signature has been processed"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the signature was deleted"
          },
          "record_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated record"
          },
          "form_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated form"
          },
          "file_size": {
            "type": "integer",
            "nullable": true,
            "description": "Size of the signature file in bytes"
          },
          "content_type": {
            "type": "string",
            "nullable": true,
            "description": "MIME type of the signature file"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the thumbnail version of the signature"
          },
          "large": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the large version of the signature"
          },
          "original": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the original signature file"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the signature was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the signature was last updated"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who created the signature"
          },
          "created_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who created the signature"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who last updated the signature"
          },
          "updated_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who last updated the signature"
          }
        }
      },
      "SignaturesResponse": {
        "type": "object",
        "required": [
          "signatures",
          "current_page",
          "total_pages",
          "total_count",
          "per_page"
        ],
        "properties": {
          "signatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signature"
            }
          },
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "SingleSignatureResponse": {
        "type": "object",
        "required": [
          "signature"
        ],
        "properties": {
          "signature": {
            "$ref": "#/components/schemas/Signature"
          }
        }
      },
      "Sketch": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the sketch was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the sketch was last updated"
          },
          "access_key": {
            "type": "string",
            "description": "Unique identifier for the sketch"
          },
          "uploaded": {
            "type": "boolean",
            "description": "Whether the sketch has been uploaded"
          },
          "stored": {
            "type": "boolean",
            "description": "Whether the sketch has been stored"
          },
          "processed": {
            "type": "boolean",
            "description": "Whether the sketch has been processed"
          },
          "record_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated record"
          },
          "form_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the associated form"
          },
          "file_size": {
            "type": "integer",
            "nullable": true,
            "description": "Size of the sketch file in bytes"
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who created the sketch"
          },
          "created_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who created the sketch"
          },
          "updated_by": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who last updated the sketch"
          },
          "updated_by_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the user who last updated the sketch"
          },
          "content_type": {
            "type": "string",
            "nullable": true,
            "description": "MIME type of the sketch file"
          },
          "exif": {
            "type": "object",
            "nullable": true,
            "description": "EXIF metadata from the sketch",
            "additionalProperties": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "API URL to access this sketch resource"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to thumbnail version of the sketch"
          },
          "small": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to small version of the sketch"
          },
          "medium": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to medium version of the sketch"
          },
          "large": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to large version of the sketch"
          },
          "original": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to original version of the sketch"
          }
        }
      },
      "SketchesResponse": {
        "type": "object",
        "required": [
          "sketches",
          "current_page",
          "total_pages",
          "total_count",
          "per_page"
        ],
        "properties": {
          "sketches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sketch"
            }
          },
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "SingleSketchResponse": {
        "type": "object",
        "required": [
          "sketch"
        ],
        "properties": {
          "sketch": {
            "$ref": "#/components/schemas/Sketch"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the attachment"
          },
          "owners": {
            "type": "array",
            "description": "List of owner references for the attachment",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of owner (e.g., 'record' or 'form')"
                },
                "id": {
                  "type": "string",
                  "description": "ID of the owner"
                }
              }
            }
          },
          "name": {
            "type": "string",
            "description": "Filename of the attachment"
          },
          "file_size": {
            "type": "integer",
            "description": "Size of the attachment file in bytes"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the attachment"
          },
          "uploaded_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the attachment was uploaded"
          },
          "complete": {
            "type": "boolean",
            "description": "Whether the attachment upload is complete"
          },
          "attached_to_id": {
            "type": "string",
            "description": "ID of the resource this attachment is attached to"
          },
          "attached_to_type": {
            "type": "string",
            "description": "Type of resource this attachment is attached to"
          },
          "status": {
            "type": "string",
            "description": "Status of the attachment"
          }
        }
      },
      "AttachmentsResponse": {
        "type": "object",
        "required": [
          "attachments"
        ],
        "properties": {
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of attachments returned"
          },
          "total_count": {
            "type": "integer",
            "description": "Total count of attachments available"
          }
        }
      },
      "SingleAttachmentResponse": {
        "type": "object",
        "required": [
          "attachment"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/Attachment"
          }
        }
      },
      "FormElementChoice": {
        "type": "object",
        "description": "A single selectable choice in a ChoiceField or StatusField",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label for the choice"
          },
          "value": {
            "type": "string",
            "description": "Stored value for the choice"
          },
          "color": {
            "type": "string",
            "description": "Hex color string used for status field choices (e.g. '#FF0000')",
            "nullable": true
          }
        }
      },
      "YesNoLabelValue": {
        "type": "object",
        "description": "Label/value pair for YesNoField positive, negative, or neutral options",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label (e.g. Yes, No, N/A)"
          },
          "value": {
            "type": "string",
            "description": "Stored value (e.g. yes, no, n/a)"
          }
        }
      },
      "CalculatedFieldDisplay": {
        "type": "object",
        "description": "Display formatting for CalculatedField elements",
        "required": [
          "style"
        ],
        "properties": {
          "style": {
            "type": "string",
            "description": "Calculated value display style",
            "enum": [
              "number",
              "currency",
              "date",
              "string"
            ]
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Required when style is currency."
          }
        }
      },
      "StatusFieldChoice": {
        "type": "object",
        "description": "A selectable status value for a form status field",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label shown to the user"
          },
          "value": {
            "type": "string",
            "description": "Stored status value"
          },
          "color": {
            "type": "string",
            "description": "Status color as a hex value, usually with a leading #"
          }
        }
      },
      "StatusField": {
        "type": "object",
        "description": "Status field configuration for a form",
        "required": [
          "type",
          "label",
          "data_name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "StatusField"
            ],
            "description": "Status field type identifier"
          },
          "key": {
            "type": "string",
            "description": "Status field key"
          },
          "label": {
            "type": "string",
            "description": "Display label visible to users"
          },
          "data_name": {
            "type": "string",
            "description": "Programmatic status field name"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the status field is enabled"
          },
          "default_value": {
            "type": "string",
            "description": "Default status value"
          },
          "choices": {
            "type": "array",
            "description": "Available status choices",
            "items": {
              "$ref": "#/components/schemas/StatusFieldChoice"
            }
          }
        }
      },
      "FormElementCondition": {
        "type": "object",
        "description": "A visibility or required condition rule applied to a form element",
        "required": [
          "field_key",
          "operator",
          "value"
        ],
        "properties": {
          "field_key": {
            "type": "string",
            "description": "The key of the field being tested"
          },
          "operator": {
            "type": "string",
            "description": "Comparison operator",
            "enum": [
              "equal_to",
              "not_equal_to",
              "is_empty",
              "is_not_empty",
              "contains",
              "does_not_contain",
              "starts_with",
              "greater_than",
              "less_than",
              "greater_than_or_equal_to",
              "less_than_or_equal_to"
            ]
          },
          "value": {
            "type": [
              "string",
              "null"
            ],
            "description": "The value to compare against (may be null for is_empty/is_not_empty operators)"
          }
        }
      },
      "FormClassificationItem": {
        "type": "object",
        "description": "A hierarchical classification item",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "child_classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormClassificationItem"
            }
          }
        }
      },
      "FormClassificationSetSchema": {
        "type": "object",
        "description": "Inline classification set definition",
        "properties": {
          "id": {
            "type": "string",
            "description": "Classification set resource ID"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormClassificationItem"
            }
          }
        }
      },
      "FormYesNoOption": {
        "type": "object",
        "description": "Label/value pair for a YesNoField option",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FormCalculatedDisplay": {
        "type": "object",
        "description": "Display settings for a CalculatedField",
        "properties": {
          "style": {
            "type": "string",
            "enum": [
              "number",
              "currency",
              "date",
              "string"
            ],
            "description": "Display rendering style"
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 4217 currency code (e.g. 'USD'), only used when style is 'currency'"
          }
        }
      },
      "FormBaseElement": {
        "type": "object",
        "description": "Common properties shared by all form elements",
        "required": [
          "type",
          "key",
          "data_name",
          "label"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "The element type discriminator",
            "enum": [
              "TextField",
              "ChoiceField",
              "ClassificationField",
              "YesNoField",
              "PhotoField",
              "VideoField",
              "AudioField",
              "SignatureField",
              "BarcodeField",
              "DateTimeField",
              "DateField",
              "TimeField",
              "Repeatable",
              "Section",
              "AddressField",
              "HyperlinkField",
              "CalculatedField",
              "RecordLinkField",
              "AttachmentField",
              "CheckboxField",
              "DynamicField",
              "LocationField",
              "ButtonField",
              "SketchField",
              "Label",
              "StatusField"
            ]
          },
          "key": {
            "type": "string",
            "description": "Unique 4-character hex key identifying this element within the form (e.g. 'af72')"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display label for the field"
          },
          "data_name": {
            "type": "string",
            "description": "Snake-case column name used in exports and the query API (e.g. 'park_name')"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Help text shown below the field label"
          },
          "required": {
            "type": "boolean",
            "description": "Whether a value is required to save the record",
            "default": false
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the field is read-only in the mobile app",
            "default": false
          },
          "hidden": {
            "type": "boolean",
            "description": "Whether the field is hidden by default",
            "default": false
          },
          "default_value": {
            "description": "Default value pre-populated when a new record is created. Type depends on the element type."
          },
          "visible_conditions_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Whether ALL or ANY visible conditions must be met. Null means no conditions.",
            "enum": [
              "all",
              "any"
            ]
          },
          "visible_conditions": {
            "type": [
              "array",
              "null"
            ],
            "description": "Conditions that control when this element is visible",
            "items": {
              "$ref": "#/components/schemas/FormElementCondition"
            }
          },
          "required_conditions_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Whether ALL or ANY required conditions must be met. Null means no conditions.",
            "enum": [
              "all",
              "any"
            ]
          },
          "required_conditions": {
            "type": [
              "array",
              "null"
            ],
            "description": "Conditions that control when this element becomes required",
            "items": {
              "$ref": "#/components/schemas/FormElementCondition"
            }
          }
        }
      },
      "FormTextFieldElement": {
        "description": "A single-line or multi-line text field. Set `numeric: true` and `format` for numeric inputs.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "TextField"
                ]
              },
              "numeric": {
                "type": "boolean",
                "description": "When true, restricts input to numbers. Use `format` to specify integer vs decimal.",
                "default": false
              },
              "format": {
                "type": "string",
                "description": "Numeric display format. Only applicable when `numeric` is true.",
                "enum": [
                  "decimal",
                  "integer"
                ]
              },
              "min": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Minimum numeric value (only when `numeric` is true)"
              },
              "max": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Maximum numeric value (only when `numeric` is true)"
              },
              "pattern": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Regular expression that the value must match"
              },
              "pattern_description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Human-readable description of the pattern requirement"
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Minimum number of characters (or items for media fields)"
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Maximum number of characters (or items for media fields)"
              }
            }
          }
        ]
      },
      "FormYesNoFieldElement": {
        "description": "A Yes / No field with optional neutral (N/A) state.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "YesNoField"
                ]
              },
              "positive": {
                "description": "Configuration for the 'yes' option",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FormYesNoOption"
                  }
                ]
              },
              "negative": {
                "description": "Configuration for the 'no' option",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FormYesNoOption"
                  }
                ]
              },
              "neutral": {
                "description": "Configuration for the neutral/N/A option",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FormYesNoOption"
                  }
                ]
              },
              "neutral_enabled": {
                "type": "boolean",
                "description": "When true, the neutral option is shown",
                "default": false
              }
            }
          }
        ]
      },
      "FormPhotoFieldElement": {
        "description": "A photo capture field. Stores one or more photos per record.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "PhotoField"
                ]
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "FormVideoFieldElement": {
        "description": "A video capture field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "VideoField"
                ]
              },
              "track_enabled": {
                "type": "boolean",
                "description": "When true, GPS track is recorded with the video",
                "default": false
              },
              "audio_enabled": {
                "type": "boolean",
                "description": "When true, audio is recorded with the video",
                "default": true
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "FormAudioFieldElement": {
        "description": "An audio recording field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "AudioField"
                ]
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "FormSignatureFieldElement": {
        "description": "A signature capture field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "SignatureField"
                ]
              },
              "agreement_text": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Legal agreement text displayed above the signature pad"
              }
            }
          }
        ]
      },
      "FormBarcodeFieldElement": {
        "description": "A barcode / QR-code scanner field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "BarcodeField"
                ]
              }
            }
          }
        ]
      },
      "FormDateTimeFieldElement": {
        "description": "A combined date and time field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "DateTimeField"
                ]
              }
            }
          }
        ]
      },
      "FormDateFieldElement": {
        "description": "A date-only field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "DateField"
                ]
              }
            }
          }
        ]
      },
      "FormTimeFieldElement": {
        "description": "A time-only field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "TimeField"
                ]
              }
            }
          }
        ]
      },
      "FormRepeatableElement": {
        "description": "A repeatable section (child records) that can contain its own set of fields and captures 0-N rows per parent record.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "required": [
              "elements"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Repeatable"
                ]
              },
              "elements": {
                "type": "array",
                "description": "Child elements within the repeatable",
                "items": {
                  "$ref": "#/components/schemas/FormElement"
                }
              },
              "title_field_key": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Key of the child field used as the repeatable row title"
              },
              "title_field_keys": {
                "type": [
                  "array",
                  "null"
                ],
                "description": "Keys of child fields used to compose the repeatable row title",
                "items": {
                  "type": "string"
                }
              },
              "geometry_types": {
                "type": "array",
                "description": "Allowed geometry types for child record location. Empty array disables location on children.",
                "items": {
                  "type": "string",
                  "enum": [
                    "Point",
                    "LineString",
                    "Polygon"
                  ]
                }
              },
              "geometry_required": {
                "type": "boolean",
                "description": "When true, a location is required on each child record",
                "default": false
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Minimum number of child records required"
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Maximum number of child records allowed"
              }
            }
          }
        ]
      },
      "FormSectionElement": {
        "description": "A collapsible section that groups child elements. Sections do not capture data themselves.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "required": [
              "elements"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Section"
                ]
              },
              "display": {
                "type": "string",
                "description": "Layout style for the section",
                "enum": [
                  "inline",
                  "drilldown"
                ],
                "default": "inline"
              },
              "elements": {
                "type": "array",
                "description": "Child elements contained within this section",
                "items": {
                  "$ref": "#/components/schemas/FormElement"
                }
              }
            }
          }
        ]
      },
      "FormAddressFieldElement": {
        "description": "A structured address field with sub-components (street, city, state, zip, etc.).",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "AddressField"
                ]
              },
              "auto_populate": {
                "type": "boolean",
                "description": "When true, the address is automatically populated from the device GPS location",
                "default": false
              }
            }
          }
        ]
      },
      "FormHyperlinkFieldElement": {
        "description": "A field that stores a URL and displays it as a tappable hyperlink.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "HyperlinkField"
                ]
              }
            }
          }
        ]
      },
      "FormCalculatedFieldElement": {
        "description": "A read-only field whose value is computed from a JavaScript expression over other field values.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "CalculatedField"
                ]
              },
              "expression": {
                "type": "string",
                "description": "JavaScript expression evaluated at runtime. Reference other fields with `$field_data_name`.",
                "example": "$first_name + ' ' + $last_name"
              },
              "display": {
                "description": "Controls how the calculated result is formatted for display",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FormCalculatedDisplay"
                  }
                ]
              },
              "default_values": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Optional map of field data names to default values used when the expression cannot be evaluated",
                "additionalProperties": true
              }
            }
          }
        ]
      },
      "FormRecordLinkFieldElement": {
        "description": "A field that links to records in another Fulcrum form.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "RecordLinkField"
                ]
              },
              "allow_existing_records": {
                "type": "boolean",
                "description": "Allow linking to existing records",
                "default": true
              },
              "allow_creating_records": {
                "type": "boolean",
                "description": "Allow creating new linked records inline",
                "default": false
              },
              "allow_updating_records": {
                "type": "boolean",
                "description": "Allow editing linked records inline",
                "default": false
              },
              "allow_empty_records": {
                "type": "boolean",
                "description": "Allow saving without selecting a linked record",
                "default": true
              },
              "linked_form_id": {
                "type": "string",
                "description": "ID of the form that records can be linked from"
              }
            }
          }
        ]
      },
      "FormAttachmentFieldElement": {
        "description": "A file attachment field for arbitrary file uploads.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "AttachmentField"
                ]
              }
            }
          }
        ]
      },
      "FormCheckboxFieldElement": {
        "description": "A boolean checkbox field (true/false).",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "CheckboxField"
                ]
              }
            }
          }
        ]
      },
      "FormDynamicFieldElement": {
        "description": "A dynamic / checklist field whose items are loaded at runtime from a data source.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "DynamicField"
                ]
              }
            }
          }
        ]
      },
      "FormLocationFieldElement": {
        "description": "A field that captures a geographic point (latitude, longitude) separate from the record location.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "LocationField"
                ]
              }
            }
          }
        ]
      },
      "FormButtonFieldElement": {
        "description": "A button that triggers a Data Event action when tapped.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "ButtonField"
                ]
              }
            }
          }
        ]
      },
      "FormSketchFieldElement": {
        "description": "A field for freehand sketch / drawing input.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "SketchField"
                ]
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "FormLabelElement": {
        "description": "A non-data display label / heading used to organize the form layout.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Label"
                ]
              }
            }
          }
        ]
      },
      "FormChoiceFieldElement": {
        "description": "A single-select or multi-select dropdown / radio field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "ChoiceField"
                ]
              },
              "multiple": {
                "type": "boolean",
                "description": "When true, allows selecting multiple choices",
                "default": false
              },
              "allow_other": {
                "type": "boolean",
                "description": "When true, users can type a custom value not in the choices list",
                "default": false
              },
              "choices": {
                "type": "array",
                "description": "List of selectable options",
                "items": {
                  "$ref": "#/components/schemas/FormElementChoice"
                }
              },
              "choice_list_id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "ID of a shared Choice List resource to use instead of inline choices"
              },
              "min_length": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Minimum number of selections required (when `multiple` is true)"
              },
              "max_length": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Maximum number of selections allowed (when `multiple` is true)"
              }
            }
          }
        ],
        "anyOf": [
          {
            "required": [
              "choices"
            ]
          },
          {
            "required": [
              "choice_list_id"
            ]
          }
        ]
      },
      "FormClassificationFieldElement": {
        "description": "A hierarchical classification field backed by a Classification Set.",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormBaseElement"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "ClassificationField"
                ]
              },
              "allow_other": {
                "type": "boolean",
                "description": "When true, users can enter a value not in the classification set",
                "default": false
              },
              "classification_set_id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "ID of a shared Classification Set resource"
              },
              "classification_set_schema": {
                "description": "Inline classification set definition (alternative to classification_set_id)",
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/FormClassificationSetSchema"
                  }
                ]
              }
            }
          }
        ],
        "anyOf": [
          {
            "required": [
              "classification_set_id"
            ]
          },
          {
            "required": [
              "classification_set_schema"
            ]
          }
        ]
      },
      "FormStatusField": {
        "type": "object",
        "description": "The status field configuration for a form. The status field is a special system-level choice field present on every record.",
        "required": [
          "type",
          "key",
          "data_name",
          "choices"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "StatusField"
            ],
            "description": "Always 'StatusField'"
          },
          "key": {
            "type": "string",
            "description": "Always '@status' for the status field",
            "default": "@status"
          },
          "label": {
            "type": "string",
            "description": "Display label for the status field",
            "default": "Status"
          },
          "data_name": {
            "type": "string",
            "description": "Column name used in exports",
            "default": "status"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Help text shown below the status field label"
          },
          "default_value": {
            "type": [
              "string",
              "null"
            ],
            "description": "The default status value applied to new records"
          },
          "enabled": {
            "type": "boolean",
            "description": "When true, the status field is visible on the record",
            "default": true
          },
          "read_only": {
            "type": "boolean",
            "description": "When true, the status field cannot be changed in the mobile app",
            "default": false
          },
          "hidden": {
            "type": "boolean",
            "description": "When true, the status field is hidden from the record form",
            "default": false
          },
          "required": {
            "type": "boolean",
            "description": "When true, a status value is required to save the record",
            "default": false
          },
          "disabled": {
            "type": "boolean",
            "default": false
          },
          "choices": {
            "type": "array",
            "description": "List of valid status values. Each choice has a label, value, and display color.",
            "items": {
              "$ref": "#/components/schemas/FormElementChoice"
            }
          }
        }
      },
      "FormBody": {
        "type": "object",
        "description": "The form object sent when creating or updating a form",
        "required": [
          "name",
          "elements"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The display name of the form"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "A longer description of the form's purpose"
          },
          "elements": {
            "type": "array",
            "description": "Ordered list of form elements (fields, sections, repeatables, labels, etc.)",
            "items": {
              "$ref": "#/components/schemas/FormElement"
            }
          },
          "status_field": {
            "description": "Configuration for the built-in status field. Omit to use the default status field settings.",
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/FormStatusField"
              }
            ]
          },
          "title_field_keys": {
            "type": "array",
            "description": "Keys of the fields whose values are combined to form the record title",
            "items": {
              "type": "string"
            }
          },
          "record_prefix": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short prefix prepended to auto-generated record numbers (e.g. 'INV')"
          },
          "geometry_types": {
            "type": "array",
            "description": "Allowed geometry types for record location. Omit or leave empty to disable record location.",
            "items": {
              "type": "string",
              "enum": [
                "Point",
                "LineString",
                "Polygon"
              ]
            }
          },
          "geometry_required": {
            "type": "boolean",
            "description": "When true, a location is required to save the record",
            "default": false
          },
          "script": {
            "type": [
              "string",
              "null"
            ],
            "description": "JavaScript Data Events script evaluated on the mobile app"
          },
          "projects_enabled": {
            "type": "boolean",
            "description": "When true, records can be assigned to projects",
            "default": true
          },
          "assignment_enabled": {
            "type": "boolean",
            "description": "When true, records can be assigned to users",
            "default": true
          },
          "auto_assign": {
            "type": "boolean",
            "description": "When true, new records are automatically assigned to the creating user",
            "default": false
          },
          "hidden_on_dashboard": {
            "type": "boolean",
            "description": "When true, this form is hidden from the Fulcrum dashboard",
            "default": false
          }
        }
      },
      "FormElement": {
        "description": "A single form element. Use the `type` property to determine which element-specific fields apply.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/FormTextFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormChoiceFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormClassificationFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormYesNoFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormPhotoFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormVideoFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormAudioFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormSignatureFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormBarcodeFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormDateTimeFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormDateFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormTimeFieldElement"
          },
          {
            "$ref": "#/components/schemas/FormRepeatableElement"
          },
[...]
